footer.py-5
  .container
    .row
      .col-sm-4.col-xs-12.sub-left
        .row
          .col-sm-3.col-xs-12
            = image_tag('guy.png')
          .col-sm-6.col-xs-12
            h3 Independence
            p No awkward groups or rigid schedules
          .col-sm-3.col-xs-12
            = image_tag('crowd.png')
      .col-sm-4.col-xs-12.sub-middle.text-center
        .number-city__wrapper
          span.number 154
          span.city cities
      .col-sm-4.col-xs-12.sub-right
        .row
          .col-sm-6.sub-right__title
            h3 Easy to Use
            p Tours work offline and play automatically using GPS.
          .col-sm-6.sub-right__image
            = image_tag('easy_to_use.png')
