nav.navbar.navbar-expand-lg.fixed-top
  .container
    a.navbar-brand href="#"
    button.navbar-toggler aria-controls="navbarResponsive" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarResponsive" data-toggle="collapse" type="button"
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link href="#"
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link href="#" Explorer
        li.nav-item
          a.nav-link href="#" Create
        li.nav-item
          a.nav-link href="#" Partner
        li.nav-item
          a.nav-link.btn.btn-signin href="#" Sign In
        li.nav-item
          a.nav-link.btn.btn-danger href="#" Create Account