.container
  .search__wrapper
    .search__title
      .h3.center Stories that move you
      p.center Explore at your own pace with VoiceMap’s immersive audio tour app
    .search__form
      .input-group
        input#term.form-control
        span.input-group-btn
          button.btn.btn-default
            i.fa.fa-search

javascript:
  $(function() {
    $("#term").autocomplete({
      source: [ "c++", "java", "php", "coldfusion", "javascript", "asp", "ruby" ]
    });
  });