.page-wrapper__main {
  .search__wrapper {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    .search__title {
      color: #fff;
      text-align: center;
    }

    .search__form {
      .input-group {
        .input-group-btn {
          button {
            background-color: #dc3545;
            border-color: #dc3545;
            .fa.fa-search {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.page-wrapper__sub {
 .sub-middle {
  .number-city__wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    span.number {
      color: #E22D3A;
      font-size: 50px;
      padding: 5px;
    }
    span.city {
      font-size: 20px;
      padding: 5px;
    }
  }
 }
}