.navbar {
  .navbar-collapse {
    .nav-item {
      .nav-link {
        color: #fff;
        &.btn-signin {
          background: #fff;
          color: #000;
          margin: 0 5px 0 5px;
        }
      }
    }
  }
}

