@import 'navigation';

@font-face {
  font-family: 'AvenirNext';
  src: font-url('AvenirNextLTPro-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "AvenirNext";
}

.page-wrapper__main {
  height: 600px;
  background: image-url('eiffel_tower.png') no-repeat center center;
  background-size: cover;
}

.page-wrapper__sub {
}