doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"
    title Voicemap
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body
    .page-wrapper__main
      = render 'shared/navigation'
      = yield
    .page-wrapper__sub
      = render 'shared/footer'
